/* 2D view */

.view-2D.zoom-large #sun {
    transform-style: flat;
}

.view-2D.zoom-large .orbit {
    transform-style: flat;
}

.view-2D #sun,
.view-2D .rings {
    transform: rotateX(0deg);
}

.view-2D .planet,
.view-2D .moon {
    transform: rotateX(90deg);
}


/* 3D view */

.view-3D.zoom-large #sun {
    transform-style: preserve-3d;
}

.view-3D.zoom-large .orbit {
    transform-style: preserve-3d;
}

.view-3D #solar_system {
    transform: rotateX(75deg);
}

.view-3D #sun {
    transform: rotateX(-90deg);
}

.view-3D .rings {
    transform: rotateX(90deg);
}

.view-3D .planet,
.view-3D .moon {
    transform: rotateX(0deg);
}

.view-3D #controls label.set_view:before {
    content: '2D';
    margin-left: 82px;
}

.view-2D #controls label.set_view:before {
    content: '3D';
    margin-left: 7px;
}

.view-3D #controls .set_view input:after {
    margin-left: 3px;
}

.view-2D #controls .set_view input:after {
    margin-left: 81px;
}